/* External style sheet */
body {
    background-color: beige
}

body h1 {
    font-size: 33px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.info_box {
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    
}

.yes_button, .no_button {
    width: 70px;
    height: 30px;
    font-size: 10px;
}

.yes_button {
    background-color: black;
    color: white;
}

.no_button {
    background-color: gray;
    color: black;
}



