.header {
    background-color: black;
    color: white;
    text-align: center;
}

.header h1 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.navigation {
    margin-bottom: 3px;
}

.info_box {
    padding: 5px;
    border: 3px;
    border-color: black;
    border-radius: 15px;
}

.yes_button, .no_button {
    width: 20px;
    height: 10px;
}

.yes_button {
    background-color: black;
    color: white;
}

.no_button {
    background-color: gray;
    color: black;
}








